Server-Facebook/WebContent/wsdl/dashboard.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://DefaultNamespace" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://DefaultNamespace" xmlns:intf="http://DefaultNamespace" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://DefaultNamespace" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="details">
    <complexType>
     <sequence>
      <element name="id1" type="xsd:string"/>
      <element name="firstname" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="detailsResponse">
    <complexType>
     <sequence>
      <element name="detailsReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="detailsResponse">

      <wsdl:part element="impl:detailsResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="detailsRequest">

      <wsdl:part element="impl:details" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="dashboard">

      <wsdl:operation name="details">

         <wsdl:input message="impl:detailsRequest" name="detailsRequest"/>

         <wsdl:output message="impl:detailsResponse" name="detailsResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="dashboardSoapBinding" type="impl:dashboard">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="details">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="detailsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="detailsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="dashboardService">

      <wsdl:port binding="impl:dashboardSoapBinding" name="dashboard">

         <wsdlsoap:address location="http://localhost:8080/Server-Facebook/services/dashboard"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
