Server-Facebook/WebContent/wsdl/frnddashboard.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://DefaultNamespace" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://DefaultNamespace" xmlns:intf="http://DefaultNamespace" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://DefaultNamespace" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="friends">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="friendsResponse">
    <complexType>
     <sequence>
      <element name="friendsReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="friendsResponse">

      <wsdl:part element="impl:friendsResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="friendsRequest">

      <wsdl:part element="impl:friends" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="frnddashboard">

      <wsdl:operation name="friends">

         <wsdl:input message="impl:friendsRequest" name="friendsRequest"/>

         <wsdl:output message="impl:friendsResponse" name="friendsResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="frnddashboardSoapBinding" type="impl:frnddashboard">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="friends">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="friendsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="friendsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="frnddashboardService">

      <wsdl:port binding="impl:frnddashboardSoapBinding" name="frnddashboard">

         <wsdlsoap:address location="http://localhost:8080/Server-Facebook/services/frnddashboard"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
